<?xml version="1.0"?>
<robot name="desk_camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="nsp" default="c0" />
  <xacro:arg name="tfpre" default="c0_tf" />
  <!-- Base -->
  <xacro:include filename="$(find camera_description)/urdf/base/base.urdf.xacro"/>
  <!-- camera -->
  <xacro:include filename="$(find camera_description)/urdf/sensors/_d435.urdf.xacro"/>
  <!-- colors  -->
  <xacro:include filename="$(find camera_description)/urdf/materials.xacro"/>
  <!-- Variables -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- base -->
  <xacro:camera_base name="deskCam" nsp="$(arg nsp)" tfpre="$(arg tfpre)"/>

  <!-- Intel realsense-->
  <xacro:sensor_d435 name="camera" parent="deskCam_base_link" nsp="$(arg nsp)" tfpre="$(arg tfpre)">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:sensor_d435>

</robot>
