<?xml version="1.0"?>
<robot name="ironfish" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Base and wheel for ironfish -->
  <xacro:include filename="$(find camera_description)/urdf/base/base.urdf.xacro"/>
  <!-- colors for ironfish -->
  <xacro:include filename="$(find camera_description)/urdf/materials.xacro"/>
  <!-- Variables -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Use the macros to define ironfish -->
  <xacro:camera_base/>

</robot>
