<?xml version="1.0"?>
<!-- Extensions -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Base -->
  <xacro:macro name="camera_base_gazebo" params="name nsp tfpre">
    <gazebo reference="${tfpre}/${name}_base_link">
      <material>Gazebo/White</material>
      <mu1 value="0.0"/>
      <mu2 value="0.0"/>
      <kp value="1000000.0"/>
      <kd value="1.0"/>
    </gazebo>
    <gazebo>
      <static>true</static>
    </gazebo>
  </xacro:macro>

</robot>
