<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find desk_description)/urdf/base/base.gazebo.xacro" />
  <xacro:property name="pi" value="3.1415926535897931" />

  <xacro:macro name="camera_base" params="name nsp tfpre">
      <link name="${name}_base_link">
            <visual>
              <origin xyz="0 0 0" rpy="0 0 0"/>
              <geometry>
                <box size="0.01 0.01 0.01" />
              </geometry>
              <material name="White" />
            </visual>
      </link>

    <!-- Extensions -->
    <xacro:camera_base_gazebo name="${name}" nsp="${nsp}" tfpre="${tfpre}"/>
  </xacro:macro>
</robot>
