<launch>
  <arg name="map_file" default="$(find neuronbot_mapping)/map/sim/icps_20190406.yaml"/>
  <arg name="multi_robots_config" default="$(find ira_factory_robot_generator)/config/multi_robots.yaml"/>
  <arg name="rvizconfig" default="$(find neuronbot_state_machine)/rviz/neuronbot_icps_multibots.rviz"/>
  <arg name="world_name" default="$(find pmc_gazebo)/world/iceira_pmc_demo.world"/>
  <arg name="remap_cmd_vel" default="true"/>
  <arg name="remap_odom" default="true"/>
  <arg name="fixed_gsp" default="true"/>

  <rosparam command="load" file="$(find ira_factory_tasks)/config/task_configs_sim.yaml" />

  <!--node name="tfServer" pkg="ira_factory_state_machine" type="tfServer.py" output="screen"/>
  <node name="gspServer" pkg="neuronbot_gsp_detection" type="gspServer.py" output="screen">
    <param name="fixed_gsp" value="$(arg fixed_gsp)"/>
  </node-->

  <!--include file="$(find haf_grasping)/launch/haf_grasping.launch"/-->
  <!--include file="$(find neuronbot_ros_control)/launch/neuronbot_moveit_execution.launch"/>
  <node name="toyo_chy80_wrapper" pkg="toyo_chy80_wrapper" type="toyo_chy80_wrapper.py"/>
  <node name="pick_place_server" pkg="neuronbot_pick_place" type="pickplace_server_origin.py" output="screen"/-->


  <!-- Note: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms-->
  <node name="d435_artag_tf" pkg="tf" type="static_transform_publisher" args="-0.3 -0.1 1.2 3.14 1.3 0 localizer_marker_1 d435/camera0/camera_link 100"/>
  <node name="left_desk_artag_tf" pkg="tf" type="static_transform_publisher" args="-0.4 0.2 0.5 0 0 0 localizer_marker_1 left_desk 100"/>
  <node name="mid_desk_artag_tf" pkg="tf" type="static_transform_publisher" args="-0.4 0.0 0.5 0 0 0 localizer_marker_1 mid_desk 100"/>
  <node name="right_desk_artag_tf" pkg="tf" type="static_transform_publisher" args="-0.4 -0.2 0.5 0 0 0 localizer_marker_1 right_desk 100"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_name)"/>
  </include>

  <node name="gen_multi_robots" pkg="ira_factory_robot_generator" type="gen_multi_robots.py" output="screen">
    <param name="config" value="$(arg multi_robots_config)"/>
  </node>

  <node name="gen_multi_sm" pkg="ira_factory_robot_generator" type="gen_multi_sm.py" output="screen">
    <param name="config" value="$(arg multi_robots_config)"/>
    <param name="nav_controller" value="teb"/>
    <param name="fixed_gsp" value="$(arg fixed_gsp)"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="log"/>
</launch>
