<launch>
  <arg name="map_file" default="$(find pmc_gazebo)/map/map.yaml"/>
  <arg name="multi_robots_config" default="$(find pmc_application)/config/multi_robots_config.yaml"/>
  <arg name="rvizconfig" default="$(find pmc_application)/rviz/pmc_demo.rviz"/>
  <arg name="world_name" default="$(find pmc_gazebo)/world/iceira_pmc_demo.world"/>
  <arg name="remap_cmd_vel" default="true"/>
  <arg name="remap_odom" default="true"/>
  <arg name="fixed_gsp" default="true"/>

  <rosparam command="load" file="$(find ira_factory_tasks)/config/task_configs_sim.yaml" />

  <!-- Note: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms-->
  <node name="d435_2_south_desk_footprint" pkg="tf" type="static_transform_publisher" args="0 0 2 0 0 0 desk_north d435/camera_north/camera_link 100"/>
  <node name="d435_2_north_desk_footprint" pkg="tf" type="static_transform_publisher" args="0 0 2 0 0 0 desk_south d435/camera_south/camera_link 100"/>
  <node name="south_desk_footprint" pkg="tf" type="static_transform_publisher" args="-0.77 -0.5 0 0 0 0 map desk_south 100"/>
  <node name="north_desk_footprint" pkg="tf" type="static_transform_publisher" args="-0.84 1.4 0 0 0 0 map desk_north 100"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(arg world_name)"/>
  </include>

  <node name="gen_multi_robots" pkg="ira_factory_robot_generator" type="gen_multi_robots.py" output="screen">
    <param name="config" value="$(arg multi_robots_config)"/>
  </node>

  <node name="gen_multi_sm" pkg="ira_factory_robot_generator" type="gen_multi_sm.py" output="screen">
    <param name="config" value="$(arg multi_robots_config)"/>
    <param name="nav_controller" value="teb"/>
    <param name="fixed_gsp" value="$(arg fixed_gsp)"/>
  </node>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
  <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="log"/>
</launch>
