<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="ns" default="scorpio/mmp0"/>

  <!--vocal input related, need isolately run-->
  <node name="aiml_stt_google" pkg="pmc_assistant" type="aiml_stt_google.py" output="screen"/>

  <!--image caption related-->
  <include file="$(find pmc_recognition)/launch/start_object_recognition.launch"/>

  <!--object recognition related-->
  <include file="$(find pmc_caption)/launch/start_image_caption.launch"/>

  <!--state machine-->
  <include file="$(find pmc_state_machine)/launch/pmc_state_machine_test_arm.launch"/>
</launch>
