<?xml version="1.0"?>

<launch>
  <!--planner args-->
  <arg name="dual_scan" default="true"/>
  <arg name="choose_global" default='3'/>
  <arg name="choose_local" default='3'/>
  <!--costmap args-->
  <arg name="no_static_map" default="true"/>

  <!-- global planner cases--><!-- carrot, navfn, global -->
  <arg name="base_global_planner" default="carrot_planner/CarrotPlanner" if="$(eval choose_global == 1)"/>
  <arg name="base_global_planner" default="navfn/NavfnROS" if="$(eval choose_global == 2)"/>
  <arg name="base_global_planner" default="global_planner/GlobalPlanner" if="$(eval choose_global == 3)"/>

  <!-- local planner cases--><!--base, dwa, teb-->
  <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS" if="$(eval choose_local == 1)"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS" if="$(eval choose_local == 2)"/>
  <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS" if="$(eval choose_local == 3)"/>

  <!-- main : move_base node-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="cmd_vel" to="/ironfish_diff_drive_controller/cmd_vel"/>
    <remap from="odom" to="/ironfish_diff_drive_controller/odom"/>

    <!--decise global/local planner-->
    <param name="controller_frequency" value="10.0"/>
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>

    <!-- recovery_behavior parameters-->
    <rosparam file="$(find ironfish_navigation)/param/recovery_behavior.yaml" command="load" />

    <!-- planner parameters -->
    <rosparam file="$(find ironfish_navigation)/param/global_planner.yaml" command="load"  if="$(eval choose_global == 3)" />
    <rosparam file="$(find ironfish_navigation)/param/dwa_local_planner.yaml" command="load" if="$(eval choose_local == 2)"/>
    <rosparam file="$(find ironfish_navigation)/param/teb_local_planner.yaml" command="load" if="$(eval choose_local == 3)"/>

    <!-- costmap param -->
        <!--dual_scan == true-->
    <rosparam file="$(find ironfish_navigation)/param/costmap_common_dual.yaml" command="load" ns="global_costmap" if="$(arg dual_scan)"/>
    <rosparam file="$(find ironfish_navigation)/param/costmap_common_dual.yaml" command="load" ns="local_costmap" if="$(arg dual_scan)"/>
        <!--dual_scan == false-->
    <rosparam file="$(find ironfish_navigation)/param/costmap_common.yaml" command="load" ns="global_costmap" unless="$(arg dual_scan)"/>
    <rosparam file="$(find ironfish_navigation)/param/costmap_common.yaml" command="load" ns="local_costmap" unless="$(arg dual_scan)"/>
        <!--no_static_map == false-->
    <rosparam file="$(find ironfish_navigation)/param/costmap_global_static.yaml" command="load" unless="$(arg no_static_map)"/>
    <rosparam file="$(find ironfish_navigation)/param/costmap_local_static.yaml" command="load" unless="$(arg no_static_map)"/>
        <!--no_static_map == true-->
    <rosparam file="$(find ironfish_navigation)/param/costmap_global.yaml" command="load" if="$(arg no_static_map)"/>
    <rosparam file="$(find ironfish_navigation)/param/costmap_local.yaml" command="load" if="$(arg no_static_map)"/>
  </node>

</launch>
