<launch>
    <arg name="world_name" default="$(find icps_gazebo)/world/iceira_icps_demo.world"/>
    <arg name="rviz" default="1"/>
    <arg name="rqt_steering" default="1" />

    <!-- Launch gazebo world.
    We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" default="$(arg world_name)"/>
    </include>

    <group ns="n1">
      <include file="$(find neuronbot_description)/launch/neuronbot_spawn.launch">
        <arg name="namespace" value="n1" />
        <arg name="gazebo_pose" value="-x 0.7 -y 0 -z 0.1 -R 0 -P 0 -Y 0" />
        <arg name="rqt_steering" value="$(arg rqt_steering)" />
      </include>
    </group>

    <group ns="n2">
      <include file="$(find neuronbot_description)/launch/neuronbot_spawn.launch">
        <arg name="namespace" value="n2" />
        <arg name="gazebo_pose" value="-x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0" />
        <arg name="rqt_steering" value="$(arg rqt_steering)" />
      </include>
    </group>

    <group ns="c1">
        <include file="$(find desk_description)/launch/camera_spawn.launch" >
          <arg name="namespace" value="c1" />
          <arg name="gazebo_pose" value="-x 0.738141 -y 1.07112 -z 2.275 -R 0 -P 1.57 -Y 1.57" />
        </include>
    </group>

    <!--node name="desk_tf_broadcaster" pkg="desk_tf" type="desk_tf_broadcaster" args="c1_tf" /-->

    <!--static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms
    Publish a static coordinate transform to tf using an x/y/z offset in meters and
    yaw/pitch/roll in radians. (yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X).
    The period, in milliseconds, specifies how often to send a transform. 100ms (10hz) is a good value. -->
    <node pkg="tf" type="static_transform_publisher" name="artagToDesk_broadcaster"
      args="0.738141 1.07112 2.275 1.57 1.57 0 /odom /c1_tf/deskCam_base_link 100" />

    <!--setting RobotModel:Robot_Description(add namespace)
    and RobotModel:TF_Prefix(add tfpre)-->
    <group if="$(arg rviz)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find icps_application)/rviz_config/1Cam2Robot.rviz" />
    </group>

</launch>
