<launch>
    <arg name="world_name" default="$(find icps_gazebo)/world/iceira_icps_demo.world"/>

    <!-- Launch gazebo world.
    We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" default="$(arg world_name)"/>
    </include>

    <group ns="c1">
        <include file="$(find camera_description)/launch/camera_spawn.launch" >
          <arg name="namespace" value="c1" />
          <arg name="initail_pose" value="-x 0.738141 -y 1.07112 -z 2.275 -R 0 -P 1.57 -Y 1.57" />
        </include>
    </group>

    <group ns="c2">
        <include file="$(find camera_description)/launch/camera_spawn.launch" >
          <arg name="namespace" value="c2" />
          <arg name="initail_pose" value="-x 0.738141 -y 1.07112 -z 2.775 -R 0 -P 1.57 -Y 1.57" />
        </include>
    </group>

<!--
    <group ns="n1">
      <include file="$(find neuronbot_description)/launch/neuronbot_spawn.launch">
        <arg name="namespace" value="n1" />
        <arg name="initail_pose" value="-x 5 -y 5 -z 0.1 -R 0 -P 0 -Y 0" />

      </include>
    </group>

    <group ns="n2">
      <include file="$(find neuronbot_description)/launch/neuronbot_spawn.launch">
        <arg name="namespace" value="n2" />
        <arg name="initail_pose" value="-x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0" />
      </include>
    </group>
-->
</launch>
