<launch>
    <arg name="world_name" default="$(find icps_gazebo)/world/iceira_icps_demo.world"/>

    <!-- Launch gazebo world.
    We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" default="$(arg world_name)"/>
    </include>

    <group ns="c1">
        <include file="$(find camera_description)/launch/camera_spawn.launch" >
          <arg name="namespace" value="c1" />
          <arg name="initail_pose" value="-x 0.738141 -y 1.07112 -z 2.275 -R 0 -P 1.57 -Y 1.57" />
        </include>
    </group>
  
</launch>
