<launch>
    <arg name="world_name" default="$(find icps_gazebo)/world/iceira_icps_demo.world"/>
    <arg name="map_real" default="$(find neuronbot_navigation)/map/iceira302.yaml"/>
    <arg name="rviz" default="1"/>
    <arg name="gazebo_gui" default="0"/>
    <arg name="rqt_steering" default="1" />

    <!-- Launch gazebo world.
    We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="gui" value="$(arg gazebo_gui)"/>
    </include>

    <node pkg="map_server" type="map_server" name="map_server_defined" args="$(arg map_real)">
    </node>

    <group ns="n1">
      <include file="$(find neuronbot_description)/launch/neuronbot_spawn_armcar.launch">
        <arg name="namespace" value="n1" />
        <arg name="gazebo_pose" value="-x 0.7 -y 0 -z 0.1 -R 0 -P 0 -Y 0" />
        <arg name="rqt_steering" value="$(arg rqt_steering)" />
      </include>
      <!--include file="$(find neuronbot_navigation)/launch/move_base.launch">
        <arg name="no_static_map" value="false"/>
        <arg name="dual_scan" value="true"/>
      </include-->

      <!--include file="$(find neuronbot_navigation)/launch/amcl.launch">
        <arg name="scan_topic" value="front_scan"/>
        <arg name="map_topic" value="map"/>
        <arg name="odom_frame_id" value="/$(arg tfpre)/odom"/>
        <arg name="base_frame_id" value="/$(arg tfpre)/base_footprint"/>
        <arg name="global_frame_id" value="map"/>
      </include-->
    </group>

    <group ns="n2">
      <include file="$(find neuronbot_description)/launch/neuronbot_spawn_armcar.launch">
        <arg name="namespace" value="n2" />
        <arg name="gazebo_pose" value="-x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0" />
        <arg name="rqt_steering" value="$(arg rqt_steering)" />
      </include>
    </group>

    <group ns="c1">
        <include file="$(find desk_description)/launch/camera_spawn.launch" >
          <arg name="namespace" value="c1" />
          <arg name="gazebo_pose" value="-x 0.738141 -y 1.07112 -z 2.275 -R 0 -P 1.57 -Y 1.57" />
        </include>
    </group>

    <include file="$(find neuronbot_navigation)/launch/amcl0.launch"/>
    <include file="$(find neuronbot_navigation)/launch/amcl.launch"/>

    <!--setting RobotModel:Robot_Description(add namespace)
    and RobotModel:TF_Prefix(add tfpre)-->
    <group if="$(arg rviz)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find icps_application)/rviz_config/navigation.rviz" />
    </group>

</launch>
