<launch>
  <!--common args-->
  <arg name="env" default="false"/><!--real=true sim=false-->
  <arg name="dual_scan" default="true"/>
  <arg name="rvizconfig" default="$(find ironfish_navigation)/rviz/ironfish.rviz"/>
  <arg name="rviz" default="true"/>
  <arg name="rqt_steering" default="true"/>
  <arg name="no_static_map" default="false"/>
  <!--sim args-->
  <!--arg name="world_name" default="$(find ironfish_gazebo)/world/iceira302.world"/-->
  <!--arg name="map_name" default="$(find ironfish_navigation)/map/iceira302.yaml" unless="$(arg env)"/-->
  <arg name="world_name" default="$(find iceira_gazebo)/world/iceira_v3.world"/>
  <arg name="map_name" default="$(find ironfish_navigation)/map/iceira_v3.yaml" unless="$(arg env)"/>
  <arg name="map_name_origin" default="$(find ironfish_navigation)/map/iceira_v3.yaml" unless="$(arg env)"/>
  <!--real args-->
  <arg name="map_name" default="$(find ironfish_navigation)/map/iceira3F_real_cropped.yaml" if="$(arg env)"/>
  <arg name="map_name_origin" default="$(find ironfish_navigation)/map/iceira3F_real_cropped_origin.yaml" if="$(arg env)"/>


  <group if="$(arg env)"><!--true, real-->
    <include file="$(find ironfish_ros_control)/launch/ironfish_ros_control.launch">
      <arg name="rvizconfig" value="$(arg rvizconfig)"/>
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="rqt_steering" value="$(arg rqt_steering)"/>
    </include>
    <group if="$(arg dual_scan)">
      <include file="$(find ironfish_sensors)/launch/urg_dual.launch"/>
    </group>
    <group unless="$(arg dual_scan)">
      <include file="$(find ironfish_sensors)/launch/urg.launch"/>
    </group>
  </group>

  <group unless="$(arg env)"><!--false, sim-->
    <include file="$(find ironfish_gazebo)/launch/ironfish_gazebo.launch">
      <arg name="rvizconfig" value="$(arg rvizconfig)"/>
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="world_name" value="$(arg world_name)"/>
    </include>
  </group>

  <include file="$(find ironfish_navigation)/launch/move_base.launch">
    <arg name="no_static_map" value="$(arg no_static_map)"/>
    <arg name="dual_scan" value="$(arg dual_scan)"/>
  </include>

  <!--include file="$(find ironfish_navigation)/launch/map_server.launch">
    <arg name="map" default="$(arg map_name)"/>
  </include-->

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_name)"/>
  <node pkg="map_server" type="map_server" name="map_server_origin" args="$(arg map_name_origin)">
    <remap from="map" to="/map_origin"/>
  </node>

 <include file="$(find ironfish_navigation)/launch/amcl.launch">
    <!--remap from="map" to="/map_origin"/-->
 </include>

</launch>
