<launch>
    <arg name="world_name" default="$(find icps_gazebo)/world/iceira_icps_demo.world"/>

    <!--Argument in this launch file-->
    <arg name="model" default="$(find camera_description)/robots/camera.urdf.xacro"/>
    <arg name="x" default="0.738141"/>
    <arg name="y" default="1.07112"/>
    <arg name="z" default="2.275"/>
    <arg name="R" default="0"/>
    <arg name="P" default="1.57"/>
    <arg name="Y" default="1.57"/>

    <!-- Launch gazebo world.
    We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" default="$(arg world_name)"/>
    </include>

    <!-- Convert an xacro and put on parameter server-->
    <param name="robot_description" command="python $(find xacro)/xacro.py $(arg model)" />

    <!-- Spawn a robot into Gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y) -unpause -urdf -model camera -param robot_description"
      respawn="false" output="screen"/>

    <!--Publish robot state-->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
       <param name="publish_frequency" type="double" value="30.0" />
    </node>

</launch>
