<launch>
    <!--Argument in this launch file-->
    <arg name="namespace" default="c0" />
    <!-- Generate the tf_prefix from the namespace -->
    <arg name="tfpre" default="$(arg namespace)_tf" />
    <!-- Put value on the parameter server in the group's namespace -->
    <param name="tf_prefix" value="$(arg namespace)_tf" />
    <!-- Initial pose - see "rosrun gazebo_ros spawn_model -h" for syntax -->
    <arg name="initail_pose" default="-x 0 -y 0 -z 0.1 -R 0 -P 0 -Y 0"/>

    <!-- Convert an xacro and put on parameter server-->
    <param name="robot_description" command="python $(find xacro)/xacro.py $(find camera_description)/robots/camera.urdf.xacro
    nsp:=$(arg namespace) tfpre:=$(arg tfpre)" />

    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_desk_camera" pkg="gazebo_ros" type="spawn_model"
      args="$(arg initail_pose) -unpause -urdf -param robot_description -model desk_camera_$(arg namespace)"
      respawn="false" output="screen"/>

    <!--Publish robot state-->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
       <param name="publish_frequency" type="double" value="30.0" />
    </node>

</launch>
